:root {
  --blue: #60a5fa;
  --green: #34d399;
  --red: #ef4444;
  --yellow: #f59e0b;
}

body {
  margin: 0;
}

.App-header {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

.border {
  border-image: linear-gradient(45deg, var(--green), var(--blue)) 1;
}

.border:hover,
.border:focus {
  border-image: linear-gradient(45deg, var(--red), var(--yellow)) 1;
}

.flex-horizontal,
.flex-vertical {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-horizontal {
  flex-wrap: wrap;
}

.flex-vertical {
  flex-direction: column;
}

.form-textarea {
  outline: none;
  border-width: 0.2rem;
}

.form-button {
  outline: none;
  margin: 0.5rem;
}

.warning {
  color: var(--red);
  font-weight: bold;
}

.graph,
.options {
  margin: 1.2rem;
}

.loading {
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--yellow);
}
